#logo img {
    width: 30%;
  }

  /*Adjust Background Colour*/
  .overlay {
    background: #000;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    opacity: 0.7;
  }

.intro-headline {
    color: #FFFFFF;
    font-family: "LL Circular", sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
  }

  .intro-tagline {
    font-size: 5vw;
    margin: 7px 0 !important;
  }

  .intro-tagline {
    color: rgba(255, 255, 255, 0.6);
    font-size: 13.6px;
    margin: 5px 0;
  }

  .intro-headline,
  .intro-tagline {
    letter-spacing: 2px;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .intro-tagline-date::after {
    content: "|";
    margin: 0 15px;
  }

  .intro-inner {
    z-index: 3 !important;
    transform: translateZ(0);
    display: block;
    position: relative;
    text-align: center;
    z-index: 2;
    margin-top: 8%;
  }

  div {
    display: block;
  }

  body {
    background-color: #fff;
    font-family: "LL Circular", sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
  }

  .intro-video {
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) translateZ(0);
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  #js-header-register {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99999;
    transform: translate(-50%, 250%);
    text-decoration: none;
    border-radius: 4px;
    display: block;
  }

  .hide {
    display: none;
  }

  .intro-headline,
  a {
    font-size: 7vw;
    text-decoration: none;
    color: white;
    margin-top: 2% !important;
  }

  .intro-tagline {
    font-size: 5vw;
    margin: 7px 0 !important;
  }

  .sc-section--intro {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  a.button.light,
  button.button.light {
    border-color: #313132;
    color: #313132;
  }

  a.button,
  button.button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    line-height: 1.42857;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 40px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 12px 20px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: white;
    border: 1px solid;
    transition: .3s ease all;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }

  input,
  button,
  select,
  textarea {
    margin: 0;
  }

  a.button.light:hover,
  a.button.light:focus,
  button.button.light:hover,
  button.button.light:focus {
    background-color: #313132;
    color: #fff;
    text-decoration: none -webkit-transform:scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }

  @keyframes pulse_animation {
    0% {
      transform: scale(1);
    }

    10% {
      transform: scale(1);
    }

    20% {
      transform: scale(1);
    }

    30% {
      transform: scale(1);
    }

    40% {
      transform: scale(1.05);
    }

    50% {
      transform: scale(1);
    }

    60% {
      transform: scale(1);
    }

    70% {
      transform: scale(1.05);
    }

    80% {
      transform: scale(1);
    }

    100% {
      transform: scale(1);
    }
  }

  .pulse {
    animation-name: pulse_animation;
    animation-duration: 4000ms;
    transform-origin: 70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @media only screen and (max-width: 600px) {

    button,
    a.button.light:hover,
    a.button.light:focus,
    button.button.light:hover,
    button.button.light:focus {
      transform: scale(0.7);
    }
  }

  .vyLoad {
    transform: scale(0.85);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
